.content div:not(.active){
    display: none;
}
.tab-child{
    cursor: pointer;
}
.color{
    color: #d65562;
}

/*portfolio*/

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}
  
/* ---- .grid-item ---- */
  
.grid-sizer,
.grid-item {
    width: 100%;
    
    
}
.grid-item {
    float: left;
}
.grid-item img {
    display: block;
    width: 100%;
}
.note{
    font-size: 11px;
    color: rgb(131, 126, 126);
}
@media (min-width: 576px) { 
    .grid-sizer,
    .grid-item {
      width: 50%;
    }
    .grid-item {
        padding: 0.5px;
    }
 }

@media (min-width: 768px) {  
    .grid-sizer,
    .grid-item {
        width: 33.3%;
        padding: 0.5px;
    }
    
}

@media (min-width: 992px) {  
    .grid-sizer,
    .grid-item {
        max-width: 33.3% ;      
    }
}

@media (min-width: 1200px) {  }