*{
    padding: 0;
    margin: 0;
    
}
.container-fluid{
    max-width: 1920px;
}
.navbar{
    max-width: 1922px;
    margin: 0 auto;
}
.col-12{
    padding: 0;
    
}
.navbar{
    background-color: rgb(255, 255, 255);
    font-family: roboto;
}
li.nav-item{
    margin: 0 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-style: bold;
}
.thongtin1{
    width: 100%;
    background-color:#d24150;
    position: relative;
    z-index: 1;
    font-family: roboto;
}
.thongtin1::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background: #d65562;
    z-index: 1;
}
.content_tt img{
    margin-top: 22px;
    max-width: 200px;
    border-radius: 50%; 
}
.content_tt a{
    width: 120px;
    border: none;
    margin-bottom: 50px;
    background-color: black;
}
.content_tt p{
    font-size: 16px;
    line-height: 25px;
    color: black;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}
.content_tt{
    z-index: 2;
    position: relative;
    padding-top: 15%;
}
.content_tt h2{
    color: aliceblue;
    margin-top: 35px;
    font-size: 41px;
}
.edu{
    font-family: roboto;
}
.edu h4{
    font-size: 18px;
    color: #d65562;
}
.content_edu{
    width: 78%;
    margin: auto;
}
.content_edu p{
    font-size: 14px;
}
span.time{
    font-size: 11px;
}
.roller{
    width: 24px;
    height: 42px;
    border: black solid 1px;  
    border-radius: 35%;
    z-index: 3;
    position: absolute;
    left: 50%;
    bottom: 1%;
    cursor: pointer;
    transition: 0.4;
    margin-left: -13px;
}
.roller:after{
    content: "";
    width: 3px;
    height: 8px;
    background-color: black;   
    position: absolute;
    left: 50%;
    top: 18%;
    margin-left: -2px;
}
.roller:hover{
    width: 26px;
    height: 45px;
}
.contact{
    background-color: #d65562 ;
    margin-top: 15px;
}
.contact button{
    width: 12%;
}
form input,textarea {
    width: 75%;
    margin-bottom: 26px;
    background-color: #d65562;
    border: none;
}

.por-name span{
    margin: 0 8px;
}

.header{
    background-color: black;
    
}

.info{
      height: 45px;
      
  }
.info img{
    width: 35px;
    
}
.info {
    margin-left: 38px;
    padding-bottom: 25px;
}
.tt b{color: antiquewhite;}
@media (min-width: 576px) { 
    .content_tt a{
        width: 120px;
        background-color: black;
        border: none;
        margin-bottom: 100px;
    }
    .content_tt p{
        width: 70%;
    }
    .content_tt img{
        width: 230px;
        border-radius: 50%;
    }  
    .infos{
        margin-left: 30px;
    }
 }

@media (min-width: 768px) {
    .content_tt a{
        width: 120px;
        background-color: black;
        border: none;
        margin-bottom: 50px;
    }
    .content_tt p{
        width: 80%;
    }
    .content_tt{
        z-index: 2;
        position: relative;
        padding-top: 11%;
    }
    
    .infos{
        margin-left: -68px;
    }
    
}

@media (min-width: 992px) {  
    a.navbar-brand {
        padding-left: 20px;
    }
    .content_tt a{
        width: 120px;
        background-color: black;
        border: none;
        margin-bottom: 95px;
    }
    .content_tt p{
        width: 50%;
    }
    .content_tt img{
        max-width: 120px;
        border-radius: 50%; 
    }
    
    
}
@media (min-width: 1200px) { 
    .content_tt img{
        max-width: 150px;
        border-radius: 50%; 
    }
}

@media (min-width: 1400px) { 
   
}